<template>
    <div class="apply-for-job">
        <h2>Apply for Job</h2>

        <form @submit.prevent="submitApplication" class="application-form">
            <label for="resume" class="file-label">Attach Resume:</label>
            <input type="file" id="resume" accept=".pdf" @change="handleFileChange" required class="file-input" />
            <br />

            <button type="submit" class="submit-button">Submit Application</button>
        </form>
    </div>
</template>
  
<script>
import { mapActions } from 'vuex';

export default {
    methods: {
        ...mapActions('jobOffer', ['applyForJob']),
        handleFileChange(event) {
            // Set the selected file to the 'resume' data property
            this.resume = event.target.files[0];
            console.log('Selected File:', this.resume);
        },
        async submitApplication() {
      try {
        const formData = new FormData();
        formData.append('resume', this.resume);

        // Log FormData entries for debugging
        for (const entry of formData.entries()) {
          console.log('FormData Entry:', entry);
        }

        const jobOfferId = this.jobOfferId;
        console.log('Calling applyForJob action');
        console.log('Job ID:', jobOfferId);
        console.log('FormData:', formData);

        await this.$store.dispatch('jobOffer/applyForJob', jobOfferId, formData);

        console.log('applyForJob action completed');

        this.$emit('closeModal');
      } catch (error) {
        console.error('Error submitting application:', error);
      }},

    },
    data() {
        return {
            resume: null,
        };
    },
    props: {
        jobOfferId: {
            type: Number,
            required: true,
        },
    },
};
</script>
  
<style scoped>
.apply-for-job {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.application-form {
    display: flex;
    flex-direction: column;
}

.file-label {
    margin-bottom: 10px;
}

.file-input {
    margin-bottom: 20px;
}

.submit-button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
</style>
  