<template>
    <div class="job-offer-list">
      <h2>Job Offers</h2>
  
      <ul>
        <li v-for="jobOffer in jobOffers" :key="jobOffer.id">
          <h3>{{ jobOffer.title }}</h3>
          <p>{{ jobOffer.description }}</p>
          <button @click="applyForJob(jobOffer.id)">Apply</button>
        </li>
      </ul>
  
      <!-- Modal -->
      <div v-if="showModal" class="modal">
        <div class="modal-content">
          <ApplyForJob :jobOfferId="selectedJobOfferId" @closeModal="closeModal" />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { mapGetters, mapActions } from 'vuex';
  import ApplyForJob from './ApplyForJob.vue';
  
  export default {
    components: {
      ApplyForJob,
    },
    data() {
      return {
        showModal: false,
        selectedJobOfferId: null,
      };
    },
    computed: {
      ...mapGetters('jobOffer', ['jobOffers']),
    },
    methods: {
      ...mapActions('jobOffer', ['fetchJobOffers', 'applyForJob']),
      closeModal() {
        this.showModal = false;
      },
      applyForJob(jobOfferId) {
        console.log("Job Offer ID:", jobOfferId);
        this.selectedJobOfferId = jobOfferId;
        this.showModal = true;
      },
    },
    mounted() {
      this.fetchJobOffers();
    },
  };
  </script>
  
  <style scoped>
  .job-offer-list {
    max-width: 800px;
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  </style>
  