<!-- src/components/Register.vue -->
<template>
  <div class="auth-container">
    <h2>Register</h2>
    <form @submit.prevent="registerUser" class="auth-form">
      <label for="name">Name:</label>
      <input v-model="name" type="text" id="name" required />
      <br />

      <label for="email">Email:</label>
      <input v-model="email" type="email" id="email" required />
      <br />

      <label for="password">Password:</label>
      <input v-model="password" type="password" id="password" required />
      <br />

      <button type="submit">Register</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'RegisterForm', 
  data() {
    return {
      name: "",
      email: "",
      password: "",
    };
  },
  methods: {
    async registerUser() {
      try {
        await this.$store.dispatch("register", {
          name: this.name,
          email: this.email,
          password: this.password,
        });
        this.$router.push("/login");
      } catch (error) {
        console.error("Registration error:", error);
      }
    },
  },
};
</script>

<style scoped>
.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
</style>
