<template>
  <div class="resume-form">
    <h2 :class="{ 'update-title': editing, 'create-title': !editing }">{{ editing ? "Update CV" : "Create CV" }}</h2>

    <form @submit.prevent="submitForm" class="form-container">
      <label for="formation" class="form-label">Formation:</label>
      <input v-model="formation" type="text" id="formation" class="form-input" required />
      <br />

      <label for="experience" class="form-label">Experience:</label>
      <input v-model="experience" type="text" id="experience" class="form-input" required />
      <br />

      <label for="competence" class="form-label">Competence:</label>
      <input v-model="competence" type="text" id="competence" class="form-input" required />
      <br />

      <button type="submit" :class="{ 'update-btn': editing, 'create-btn': !editing }">
        {{ editing ? "Update" : "Create" }} CV
      </button>
    </form>

    <div v-if="pdfLink" class="pdf-section">
      <p>PDF Generated:</p>
      <button @click="downloadPdf" class="download-btn">Download PDF</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ResumeForm",
  data() {
    return {
      formation: "",
      experience: "",
      competence: "",
      pdfLink: "", // Added property for PDF link
    };
  },
  computed: {
    editing() {
      return !!this.$route.params.id;
    },
  },
  methods: {
    async submitForm() {
      const formData = {
        formation: this.formation,
        experience: this.experience,
        competence: this.competence,
        pdf_path: this.pdf_path,
      };

      try {
        const response = await this.$store.dispatch(
          "resume/createOrUpdateResume",
          {
            id: this.$route.params.id,
            ...formData,
          }
        );
        console.log("response", response);

        if (response && response.data.pdf_path) {
          this.pdfLink = response.data.pdf_path;

          // Log the PDF link to the console
          console.log("PDF Link:", this.pdfLink);
        } else {
          console.log("PDF Link not found in the response:", response);
        }
      } catch (error) {
        console.error("Error submitting form:", error);
      }
    },
    downloadPdf() {
      if (this.pdfLink) {
        const fullUrl = "http://localhost:8000/" + this.pdfLink;
        window.location.href = fullUrl;
      } else {
        console.error("PDF Link is empty or undefined");
      }
    },
  },
};
</script>

<style scoped>
.resume-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-title {
  color: #2196f3;
}

.create-title {
  color: #4caf50;
}

.form-container {
  margin-top: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.update-btn {
  background-color: #2196f3;
}

.create-btn {
  background-color: #4caf50;
}

.pdf-section {
  margin-top: 20px;
}

.download-btn {
  background-color: #337ab7;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #286090;
}
</style>
